/* colors */
$dark-blue: #023E8A
$focus-blue: #48CAE4
$light-blue: #90E0EF
$new-color: #ee6c4d

/* font sizes */
$start-header-font-size: 3rem
$button-font-size: 1.3rem
$start-icon-size: 2rem
$game-icon-size: 6vh

/* font families */
$header-font-family: 'Architects Daughter', cursive

%screen-layout
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 95vh

%btn
    margin-top: 3rem
    width: 5rem
    height: 2.2rem
    background-color: $light-blue
    color: $dark-blue
    font-weight: 1000
    font-size: $button-font-size
    font-family: $header-font-family
    border: none
    border-radius: 1.5em
    cursor: pointer

    &:hover
        background-color: $focus-blue

%board-box
    width: 40vh
    height: 40vh
    margin: 2rem 0 2rem 0

@mixin light-blue-header-font($font-size)
    color: $light-blue
    font-size: $font-size
    font-family: $header-font-family
