/* colors */
$dark-blue: #023E8A
$focus-blue: #48CAE4
$light-blue: #90E0EF
$new-color: #ee6c4d

/* font sizes */
$header-font-size: 3rem

/* font families */
$header-font-family: 'Architects Daughter', cursive
