.game-screen
    @extend %screen-layout

    &__header
        @include light-blue-header-font($top-caption-font-size)
        margin: 0

    &__game-board
        @extend %board-box
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr 1fr

    &__board-square
        border-style: solid
        border-color: $light-blue
        border-radius: 1.2em
        border-width: 0.3em
        display: flex
        justify-content: space-between
        align-items: center

        &--0
            border-left: none
            border-top: none

        &--1
            border-top: none

        &--2
            border-top: none
            border-right: none

        &--3
            border-left: none

        &--5
            border-right: none

        &--6
            border-left: none
            border-bottom: none

        &--7
            border-bottom: none

        &--8
            border-bottom: none
            border-right: none

    &__player-move
        @include light-blue-header-font($bottom-caption-font-size)
        margin: 0

    &__icon
        color: $light-blue
        margin: auto
        font-size: $game-icon-size
