.start-screen
    @extend %screen-layout

    &__header
        color: $light-blue
        font-size: $header-font-size
        font-family: $header-font-family

    &__input-container
        display: grid
        grid-template-rows: 1fr 1fr
        grid-template-columns: 1fr 1fr
        gap: 1.2rem

    &__input
        height: 1.6rem
        text-align: center
        border-radius: 1.2em
        border: none
        padding: 0.2rem
        background-color: $light-blue
        color: $dark-blue
        font-weight: 500
        outline: none

    &__input:focus
        background-color: $focus-blue

    /* make a button baseclass in config and extend it here */
    &__btn
        @extend %btn

.icon
    color: $light-blue
    margin: auto
    font-size: $icon-size

.fa-circle
    font-weight: 1000
