/* colors */
/* font sizes */
/* font families */
/* inheritance */
/* layout that each screen shares */
.start-screen, .game-screen, .result-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
}

/* button component */
.start-screen__btn, .result-screen__btn {
  margin-top: 3rem;
  width: 5rem;
  height: 2.2rem;
  background-color: #90E0EF;
  color: #023E8A;
  font-weight: 1000;
  font-size: 1.3rem;
  font-family: "Architects Daughter", cursive;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}

.start-screen__btn:hover, .result-screen__btn:hover {
  background-color: #48CAE4;
}

/* sizing of the gameboard */
/* also shared by the result buttons container */
.game-screen__game-board, .result-screen__btn-container {
  width: 40vh;
  height: 40vh;
  margin: 2rem 0 2rem 0;
}

/* mixings */
/* shared properties of the fonts */
.start-screen__header {
  color: #90E0EF;
  font-size: 3rem;
  font-family: "Architects Daughter", cursive;
}

.start-screen__input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.start-screen__input {
  height: 1.6rem;
  text-align: center;
  border-radius: 1.2em;
  border: none;
  padding: 0.2rem;
  background-color: #90E0EF;
  color: #023E8A;
  font-weight: 500;
  outline: none;
}

.start-screen__input::-webkit-input-placeholder {
  color: #023E8A;
  font-weight: 500;
}

.start-screen__input:-ms-input-placeholder {
  color: #023E8A;
  font-weight: 500;
}

.start-screen__input::-ms-input-placeholder {
  color: #023E8A;
  font-weight: 500;
}

.start-screen__input::placeholder {
  color: #023E8A;
  font-weight: 500;
}

.start-screen__input:focus {
  background-color: #48CAE4;
}

.start-screen__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.start-screen__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.start-screen__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.start-screen__input:focus::placeholder {
  opacity: 0;
}

.start-screen__icon {
  font-size: 2rem;
  margin: auto;
  color: #90E0EF;
}

.game-screen__header {
  color: #90E0EF;
  font-size: 2.5rem;
  font-family: "Architects Daughter", cursive;
  margin: 0;
}

.game-screen__game-board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.game-screen__board-square {
  border-style: solid;
  border-color: #90E0EF;
  border-radius: 1.2em;
  border-width: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-screen__board-square:hover {
  background-color: #48CAE4;
}

.game-screen__board-square--0 {
  border-left: none;
  border-top: none;
}

.game-screen__board-square--1 {
  border-top: none;
}

.game-screen__board-square--2 {
  border-top: none;
  border-right: none;
}

.game-screen__board-square--3 {
  border-left: none;
}

.game-screen__board-square--5 {
  border-right: none;
}

.game-screen__board-square--6 {
  border-left: none;
  border-bottom: none;
}

.game-screen__board-square--7 {
  border-bottom: none;
}

.game-screen__board-square--8 {
  border-bottom: none;
  border-right: none;
}

.game-screen__player-move {
  color: #90E0EF;
  font-size: 1.8rem;
  font-family: "Architects Daughter", cursive;
  margin: 0;
}

.game-screen__icon {
  font-size: 6vh;
  margin: auto;
  color: #90E0EF;
}

.game-screen__icon:hover {
  font-size: 6vh;
  margin: auto;
  color: #90E0EF;
  color: #023E8A;
}

.result-screen__btn-container {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-screen__result {
  color: #90E0EF;
  font-size: 1.8rem;
  font-family: "Architects Daughter", cursive;
  margin: 0;
}

.result-screen__btn {
  width: 8rem;
  height: 3rem;
  margin-top: 0;
}

.result-screen__btn--new-game {
  margin-right: 1rem;
}

.result-screen__btn--retry {
  margin-left: 1rem;
}

body {
  background-color: #023E8A;
}
/*# sourceMappingURL=style.css.map */